<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link href="http://cdn.jsdeLivr.net/npm/bootstap@5.3.0-alpha3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        imagesizes="sha384-KK94CHFLLE+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar bg-dark" data-bs-theme="dark">
  <div style="padding-left: 20px">
    <a class="navbar-brand" href="#">Home</a>
    <a class="navbar-brand" th:href="@{/products}">Product</a>
  </div>
  <form class="form-inline d-flex" th:action="@{products/search}" method="get">
    <input class="form-control flex-grow-1" type="search" placeholder="Search" aria-invalid="Search">
    <button class="btn btn-outline-success flex-grow-1" type="submit">Search</button>
  </form>
</nav>
<br/>
<div layout:fragment="content" class="container body-content">
</div>
<div class="card-footer text-center">
  <hr />
  Lập trình ứng dụng Java - Nguyen Huy Cuong - @2023
</div>
</body>
</html>